


@font-face {
	font-family: "skeletor_80";
	src: url("Version_0.1_80_skeletor.ttf");
}

@font-face {
	font-family: "skeletor_40";
	src: url("Version_0.1_40_skeletor.ttf");
}

/* Variable font */
/* @font-face {
  font-family: "Kablammo";
  src: url("Kablammo-Regular-VariableFont_MORF.ttf");
}*/


body {
	background: whitesmoke;
	color: cornflowerblue;
	Font-family: "skeletor_40";
}




h1 {
    
    font-display: flex ;
    text-shadow: 1px 1px 2px royalblue;
    font-size: 56px;
		font-family: "skeletor_40";
	/*font-variation-settings: "skeletor_80";
	transition: font-variation-settings 1.3s ease;*/
	}

h1:hover {
  font-family: "skeletor_80";
}




#li {
	color: white;

  }

.letter {
	color: lightpink;
}



/* id 일 경우 #아이디이름 {}*/
/* class 일 경우 .클래스이름 {}
    text-align: center;*/
#drop-cap {
	color: red;
	font-size: 100px;
	font-family: cursive;
}



a {
	color: red;
}

a:hover {
	color: blue;

}


body.dark {
  background: #333;
  color: white;
}
/*body.dark란? body that has 'dark' class*/


button {
	background-color: skyblue;
}



/* 태그일 경우
span {
	
}
*/


/* * {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

adjusting fonts 

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}
*/


/* adjusting spacing 

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

*/


/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/
